.bin-image-toggler {
  height: 30px;
  width: 30px;
  cursor: default;
}

html {
  transition: 100ms;
}

.bin-dark-theme {
  filter: invert(1) hue-rotate(180deg);
}

.bin-dark-theme-image {
  filter: invert(1) hue-rotate(180deg);
}

#bin-theme-toggler {
  position: absolute;
  top: 10;
  right: 20;
  padding: 5px;
  border-radius: 5px;
  cursor: move;
  background-color: #d6dedd;
  border-radius: 50px;
  text-align: center;
  box-shadow: 2px 2px 3px #999;
}
